@import url(https://fonts.googleapis.com/css?family=Roboto);
* {
  margin: 0;
  padding: 0;
}

body {
  background: url("background.jpg") ;
  font-family: "Roboto", sans-serif;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.Container {
  width: 400px;
  margin: auto;
  margin-top: 50px;
  background-color: #fff;
  border-radius: 5px;
  color: 1F1F1F;
  text-align: center;
}
.Container h2 {
  padding: 20px;
}
.Container p {
  color: #B8B8B8;
  font-size: 13px;
}
.Container input {
  margin: 20px 0;
  padding: 10px;
  width: 80%;
  background-color: #EAEDF2;
  border: none;
  border-radius: 3px;
  color: #A0A0A0;
}
.Container input:hover {
  outline: none;
}
.Container input:focus {
  outline: none;
}
.Container input:active {
  outline: none;
}
.Container button {
  border: none;
  width: 100px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #050505;
  color: #F7F6FF;
  cursor: pointer;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
.Container button:hover {
  outline: none;
}
.Container button:focus {
  outline: none;
}
.Container button:active {
  outline: none;
  position: relative;
  top: 1px;
  border: none;
  height: 37px;
}
.Container hr {
  width: 75%;
  border-radius: 10px;
  border: 1px solid #F4F4F4;
  margin: auto;
  margin-bottom: 10px;
}
.Container a {
  line-height: 4;
  color: #000000;
  text-decoration: none;
}
